node_modules/
.expo/
dist/
web-build/
.env
.env.local
.env.*.local
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/
ios/
npm-debug.*
yarn-debug.*
yarn-error.*
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
